.navbar {
	background-color: #ffc75f !important;
}

.navbar-link {
	text-decoration: none;
}

.navbar-text {
	color: #fafafa;
	font-size: 26px;
}

.user-button {
	display: flex;
	align-items: center;
	color: #262626 !important;
}

.user-button:focus {
	box-shadow: none !important;
}

.user-button:hover {
	color: #fafafa;
}

.user-button-text {
	padding-right: 10px;
}

.user-button-icon {
	border: 1px solid #262626 !important;
	border-radius: 50%;
	padding: 10px;
}
