.register-form {
	border-radius: 20px !important;
}

.register-input-icon {
	width: 60px;
	display: flex;
	justify-content: center;
	cursor: default;
	color: #555 !important;
	font-size: 26px !important;
	border: 3px solid #969696 !important;
	border-right: none !important;
	border-radius: 50% 0 0 50% !important;
	background-color: #efefef !important;
}

.register-input {
	height: 60px;
	border: 3px solid #969696 !important;
	background-color: #efefef !important;
	color: #555 !important;
}

.register-button {
	border: 3px solid #969696 !important;
	border-radius: 0 50% 50% 0 !important;
	background-color: #efefef !important;
}

.register-button-icon {
	display: flex;
	align-items: center;
	background-color: #845ec2;
	border-radius: 50%;
	padding: 8px;
	color: #fff;
}

.register-button-icon:hover {
	background-color: #6b4c9e;
}

.register-footer {
	background-color: #845ec2;
	border-radius: 0 0 20px 20px;
}

.register-footer-link {
	color: #fafafa;
}

.register-footer-link:hover {
	color: #efefef;
}
